@media only screen and (min-width: 768px) {

    /*Variables*/

    :root {
        --header-padding-block: 1.2rem;
        --header-height-content: 4.2rem;
        --hover-color: #5D5B5B;;
    }

    /*Header*/

    .big-screen-only {
        display: unset;
    }

    .page-header {
        padding: var(--header-padding-block) clamp(1.6rem, 0.686rem + 1.19vw, 2.4rem);
        background-color: var(--main-background-color);
    }

    .header-nav {
        justify-content: space-between;
    }

    .logo {
        margin-right: unset;
        font-family: 'ADLaM Display';
        font-weight: 400;
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    .search-form {
        max-height: var(--header-height-content);
        max-width: 57.3rem;
        flex-grow: 1;
        border: 1px solid #B1AFAF;
        border-radius: 2.5rem;
        display: flex;

        .search-bar {
            flex-grow: 1;
            background-color: inherit;
            border: none;
            padding: 1rem 2.4rem;
            color: white;

            &:focus {
                outline: none;
            }
        }

        .search-button {
            margin-left: auto;
            background-color: var(--secondary-color);
            border-radius: 0 2.5rem 2.5rem 0;
            padding: 0 1.5rem;
            cursor: pointer;

            svg {
                width: 2.4rem;
            }
        }
    }

    .connexion-button {
        display: flex;
        align-items: center;
        gap: .8rem;
        padding: .8rem;
        color: white;
        font-weight: 600;
        font-size: 1.6rem;
        border: 1px solid #B1AFAF;
        border-radius: 2rem;

        .connexion-button-icon {
            width: 2.4rem;
        }

        &:hover {
            background-color: var(--secondary-color);
            cursor: pointer;
        }

        &.modal-opened {
            background-color: var(--hover-color);
        }
    }


    /*Section-hero*/

    .section-hero {
        padding-top: 15.5rem;
        margin-bottom: 4rem;
    }

    h1 {
        display: none;
    }

    h2 {
        font-size: 3.2rem;
    }

    .filters {
        position: fixed;
        top: calc(var(--header-padding-block) * 2 + var(--header-height-content));
        width: 100%;
        margin: 0;
        padding: 1.2rem 2.4rem;
        background-color: var(--main-background-color);
        display: flex;
        justify-content: center;
        gap: 3.2rem;
    }

    .filters-list-container {
        position: relative;
      }

      .filters-list-container::after {
        position: absolute;
        content: "";
        width: 5%;
        height: 100%;
        right: 0;
        top: 0;
        background: linear-gradient(to right, transparent, var(--main-background-color));
        display: var(--after-display, block)
      }

      .filters-list-container::before {
        position: absolute;
        content: "";
        width: 5%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to left, transparent, var(--main-background-color));
        display: var(--before-display, none)
      }

    .filters-list li:first-child, .filters-list li:last-child {
        margin-left: 0;
        margin-right: 0;
    }

    .arrow-button {
        border: none;
        border-radius: 50%;
        background-color: inherit;
        flex-basis: 3.7rem;
        flex-shrink: 0;
        color: white;
        font-size: 2.4rem;
        transition: transform 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: var(--hover-color);
            transform: scale(1.2);
        }
    }

    .filter {
        border-radius: 1rem;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .filter:hover:not(.filter-active) {
        background-color: var(--hover-color);
    }


    /*Section-articles*/

    .section-articles {
        margin-inline: clamp(1.6rem, -13.257rem + 19.345vw, 14.6rem);
    }

    .articles-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 35.6rem);
        justify-content: center;

        .article-card:hover {
            outline: 1px solid rgb(167, 162, 162);
        }
    }
    

    /*Footer*/

    .page-footer-list {
        flex-direction: row;
        justify-content: space-evenly;

        a:hover {
            text-decoration: none;
        }
    }

    /*********/
    /*Modales*/
    /*********/

    .modal {
        width: 25%;
        height: unset;
        background-color: #363434;
        right: 0;
        top: calc(var(--header-padding-block) + var(--header-height-content));
        z-index: 1;

        a:hover {
            text-decoration: none;
        }
    }

}